.scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.scrolling-text span {
    display: inline-block;
    padding-right: 100%;
    animation: marquee 80s linear infinite; 
}

@keyframes marquee {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(100%);
    }
}